[Desktop Entry]
Encoding=UTF-8
Name=Compass
Comment=Compass P2P Cryptocurrency
Comment[fr]=Compass, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Compass, eşten eşe kriptografik sanal para birimi
Exec=compass-qt %u
Terminal=false
Type=Application
Icon=compass128
MimeType=x-scheme-handler/compass;
Categories=Office;Finance;
